.nav {
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav h2 {
  color: #222;
  font-weight: 500;
  cursor: pointer;
}
.nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 2.5rem;
  gap: 2.5rem;
  align-items: center;
}
/* .custom-link {
  color: #fff;
} */
.nav ul li {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.custom-link a {
  text-decoration: none;
  color: #222;
}
/* .custom-link a:last-of-type {
  color: #f8f8f8;
} */
.login {
  background-color: rgb(81, 81, 194);
  padding: 4px;
  border: 1px solid rgb(26, 26, 230);
  color: #f8f8f8;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.login a {
  color: #f8f8f8;
}
