.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  gap: 25px;
}
.question h2 {
  margin-bottom: 25px;
}
.question ul {
  list-style: none;
}

.btns {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
